$green: #18cb00;
$grey: #e5e5e5;
$blue: #9496ff;
$orange: #bf5e2f;
$primary-color: $green;
$alert-color: $blue;
$alert-font-color: #fff;
$alert-font-color-alt: $green;
$topbar-background: #000;
@import "foundation";
@include foundation-everything;

$onlymobile: "only screen and (max-width: 600px)";

.slide {
  height: 100%;
  width: 100%;
  display: block;
}
.top-wrapper-bg {
  background: url(../assets/bg.gif);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .2;
  display: none;
}
#header .row {
  max-width: 100%;
}
.ss-active .top-wrapper-bg {
  display: block;
}
.top-wrapper {
  padding: 10%;
  text-align: center;
  margin: 0 0 30px 0;
  .form-submit {
    @extend .expand;
  }
  i {
    font-size: 1.5em;
    padding: 0 11px;
    line-height: 13px;
  }
}
.breadcrumb {
  margin: 20px 0;
}
.field-type-taxonomy-term-reference {
  h2 {
    color: darken($grey, 50%);
    font-size: 1.5em;
  }
  li {
    list-style-type: none;
    a {
      background: $green;
      color: #000;
      padding: 5px;
      border-radius: 10px;
      text-shadow: 1px 1px 1px #fff;
    }
  }
}
@media #{$onlymobile} {
  .button.large {
    width: 90%;
  }
  .room-wrapper {
    border-radius: 10px;
  }
}
.row.quotes {
  margin: 40px auto;
}
.moai-table {
  width: 100%;
}
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
}
.title-bar {
  .title-bar-title {
    padding-top: 6px;
  }
  a {
    color: #fff;
  }
}
.row-1 {
  text-align: center;
  h1 {
    margin-top: 1.2em;
  }
  .large-3 {
    margin-top: 100px;
  }
  .large-6 {
    background: $grey;
    padding: 20px 0;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
  .illu {
    background: no-repeat center $green;
    height: 150px;
    width: 150px;
    border-radius: 300px;
    margin: auto;
    & > div {
      background: no-repeat center;
      height: 200px;
      width: 200px;
      position: absolute;
      margin-top: -15px;
    }
    .illu1 {
      background-image: url(../car-fire.png);
      background-position: 25px 0px;
    }
    .illu2 {
      background-image: url(../cloud.png);
      position: static;
      width: 150px;
      border-radius: 20px;
    }

  }
  .i2 {
    background: none;
    height: 165px;
  }
  .bigillu {
    background-image: url(../flame.png);
    height: 300px;
    width: 300px;
    margin: auto;
  }
}

body {
  #admin-menu {
    position: fixed;
  }
}
.reveal-modal {
  text-align: center;
}

footer {
  box-shadow: 0px -2px 10px $grey;
  padding: 20px;
  background: url(../assets/images/ps_neutral.png);
  p {
    color: lighten($grey, 5%);
  }
  .sharer {
    a.button {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      padding: 8px;
      font-size: 2em;
      margin: 0 5px;
      color: #fff;
      &:hover {
        color: darken(#fff, 10%);
      }
    }
  }
}
.path-frontpage {
  #block-cnd-theme-page-title {
    display: none;
  }
  #content {
    padding: 0;
  }
  .row {
    max-width: 100%;
    .row {
      width: 62.5em;
      margin: auto;
    }
  }
}
.room-outer {
  background: $grey;
  padding: 30px 0;
  overflow-x: hidden;
  .online-box {
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    h3 {
      color: $orange;
      font-size: 3em;
      text-shadow: 1px 1px #000;
    }
  }
  .icon-user {
    text-shadow: #fff 1px 1px 2px;
    color: $orange;
  }
  .room-wrapper {
    .inner {
      padding: 10px;
    }
    background: lighten($blue, 20%);
    box-shadow: 1px 1px 3px darken($grey, 50%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 85px;
    &.empty {
      height: auto;
    }
    &:hover {
      background: lighten($blue, 18%);
    }
  }
}
.page-world-high-scores .item-list .pager {
  li {
    display: none;
  }
  .pager-first,
  .pager-last,
  .pager-next,
  .pager-previous {
    display: inline;
  }
}
.path-frontpage #content {
  padding-left: 0;
  padding-right: 0;
}